# ОС и редакторы
.DS_Store                # macOS: Системный файл для хранения метаданных
Thumbs.db                # Windows: Кэш миниатюр изображений
*.swp                    # Swap файлы Vim: Временные файлы редактора Vim
*.swo                    # Swap файлы Vim: Временные файлы редактора Vim
.idea                    # Каталог конфигураций JetBrains IDE (например, IntelliJ IDEA)
.vscode                  # Каталог конфигураций VS Code (Visual Studio Code)
test                     # Папка тестов, если не требуется отслеживание

# Лог-файлы
logs                     # Папка для лог-файлов
*.log                    # Лог файлы (например, журналы ошибок)

# Системные и временные файлы
__pycache__              # Кэшированные файлы Python (не должны быть в репозитории)
*.bak                    # Бэкап файлы
*.tmp                    # Временные файлы

# Папки зависимостей
node_modules/            # Директория зависимостей для Node.js (не должны попадать в репозиторий)
vendor/                  # Для зависимостей PHP, Ruby и других языков (не должны попадать в репозиторий)

# Виртуальные окружения
venv/                    # Папка виртуального окружения Python (не должно быть в репозитории)
.env                     # Файл конфигурации окружения (например, для API ключей и переменных окружения)

# Бинарные файлы
*.exe                    # Бинарные файлы Windows
*.dll                    # Динамические библиотеки Windows
*.so                     # Библиотеки для Linux
*.dylib                  # Библиотеки для macOS

# Билды и артефакты
build/                   # Директория для собранных файлов проекта
dist/                    # Дистрибутивы проекта
*.apk                    # Файлы для Android (если проект связан с мобильной разработкой)

# Файлы для IDE и текстовых редакторов
*.sublime-workspace      # Файлы рабочего пространства Sublime Text
*.sublime-project        # Проектные файлы Sublime Text
.vscode/                 # Конфигурации VS Code (папка с настройками редактора)

# Резервные копии
*~                       # Резервные файлы, обычно создаваемые редакторами
*.bak                    # Бэкап файлы

# Специфичные файлы
secret_keys.txt          # Пример конфиденциальных данных, таких как ключи API
*.pem                    # Частные ключи SSH