psutil  # Библиотека для мониторинга системных ресурсов и процессов.
selenium  # Инструмент для автоматизации веб-браузеров, используется для веб-скрапинга и тестирования.
browser_cookie3  # Доступ к cookies, хранимым в браузерах, таких как Chrome, Edge и Firefox.
cryptography  # Библиотека для криптографических операций, таких как шифрование, дешифрование и хеширование.
uvicorn  # Высокопроизводительный сервер ASGI для Python, часто используется с FastAPI.
fastapi  # Современный фреймворк для создания API на Python, известен своей высокой производительностью.
pyinstaller  # Пакет для преобразования Python-скриптов в самостоятельные исполнимые файлы.
setuptools  # Пакет для удобной упаковки и распространения Python-проектов.